.column-image {
    overflow: hidden;

    & .img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    @media(min-width: 768px) {

        &--left {
            padding-right: 0 !important;
        }

        &--right {
            padding-left: 0 !important;
        }
    }

    @media(max-width: 767px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.column-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media(min-width: 767px) {
        &--left {
            padding-right: 2rem;
        }

        &--right {
            padding-left: 2rem;
        }
    }
}