.map {
    .map-content{
        display: flex;
    }

    iframe {
        margin: 0;
        padding: 0;
    }

    @media(max-width: 767px) {
        .map-content {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }
}