@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes opacityRaise {
    0% {
        background-color: rgba(black, 0);
    }

    100% {
        background-color: rgba(black, .9);
    }
}

@keyframes markMenu {
    0% {
        color: $white;
    }

    100% {
        color: $orange;
    }
}

@keyframes heightMenu {
    0% {
        transform: translate(0, -200%);
    }

    100% {
        transform: translate(0, 0);
    }
}