@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: 16px;
}

body {
    font-family: 'Work Sans';
    font-size: 1rem;
    height: 100%;
    line-height: 2rem;
    color: $grey-0;
    background-color: $grey-2;
    position: relative;
    overflow-x: hidden;

    & *:focus-visible {
        outline: 2px solid $orange;
    }
}